
/* Page wide */
body {
  background-color: #CD5C5C;
  color: #FFFAF0;
  padding: 10px 200px 10px 200px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
}

h1 {
  font-style: italic;
  text-decoration: underline;
  font-size: 350%;
  text-shadow: 2px 2px 3px #666666;
  text-align: center;
}

h2 {
  text-shadow: 1px 1px 2px #666666;
  text-align: center;
}

/* Paragraph content */
.background {
  background: url("../images/duncan.jpg") no-repeat fixed center;
}

.transbox {
  margin: 30px;
  background-color: #F0FFF0;
  border: 1px solid black;
  opacity: 0.7;
}

p {
  margin: 5%;
  color: #000000;
  font-weight: bold;
  padding: 20px;
  line-height: 2em;
  text-align: left;
}

.container {
  background-color: #F0FFF0;
  color: #191970;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 35px;
  width: 475px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

p:first-of-type:first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  font-weight: 700;
  color: #191970;
}

#date {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}


/* Read more link */
a {
  background-color: #008B8B;
  color: #F0FFF0;
  padding: 5px;
  position: relative;
  top: 5px;
}

a:hover {
  font-style: italic;
  background-color: #5F9EA0;
}

a:visited {
  color: #708090;
}

a:active  {
  background-color: #708090;
  color: #4B0082;
}
