
/* Page wide */
body {
  background-color: #CD5C5C;
  color: #FFFAF0;
  padding: 5px;
  font-family: 'Merriweather', serif;
  font-weight: 500;
}

h1 {
  font-style: italic;
  text-decoration: underline;
}

/* Paragraph content */
.text {
  background-color: #FFFAF0;
  color: #CD5C5C;
  padding: 5px;
  line-height: 2em;
}

.container {
  font-family: serif;
  background-color: #F0FFF0;
  color: #191970;
  position: relative;
  top: 35px;
  width: 375px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

p:first-of-type:first-letter {
  font-family: 'Great Vibes', cursive;
  font-size: 4em;
  font-weight: 700;
  color: #4B0082;
}


/* Read more link */
a {
  background-color: #4B0082;
  color: #FFFFFF;
  padding: 5px;
  position: relative;
  top: 5px;
}

a:hover {
  font-style: italic;
}

a:visited {
  color: #708090;
}

a:active  {
  background-color: #708090;
  color: #4B0082;
}
