/* Site wide */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Tangerine:wght@400;700&display=swap');

body {
  color: #000;
  margin: 5;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
}
.main {
  background-image: url("../images/bg-railroad.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.art {
  background-image: url("../images/storm.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
#artpage {
  width: 380px;
  height: 1280px;
}
div.background {
  background: repeat;
  border: none;
}

div.transbox {
  margin: 70px 70px 70px 370px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
}

div.transbox p {
  margin: 5%;
  color: #000000;
}

/* Navigation style */

.navigation {
  background-color: #000;
  width: 300px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.navigation a {
  text-decoration: none;
  color: #6495ED;
}
/* Logo and title */

.site-info {
  margin: 2em auto;

  text-align: center;
  font-size: 200%;
}
.logo {
  background-color: #000;
  width: 150px;
  height: 150px;

  margin: 0 auto 1em auto;

  border: 5px solid #000;
  border-radius: 100%;

  line-height: 150px;
  color: #6495ED;
  text-tranform: uppercase;
}

.logo:hover {
  border-color: #6495ED;
  font-style: italic;
}

/* Site links */

#site-links {
  margin: 0 3em;
}
#site-links a:hover {
  font-style: italic;
  font-weight: bold;
  color: #008B8B;
}


#site-links .menu-item {
  width: 6em;
  background-color: #000;
  padding: .5em 1em;
  display: block;
  text-align: center;
  color: #6495ED;
}

#site-links .menu-item:hover {
  background-color: #000;
  color: #008B8B;
  background-image: url('../images/sparkle.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  text-decoration: overline underline;
}

/* Dropdown */
#site-links .dropdown {
  display: block;
  width: 6em;
}

#site-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  z-index: 5;
}

#site-links .dropdown-content a {
  color: #6495ED;
}

#site-links .dropdown-content a:hover {
  color: #008B8B;
  font-weight: bold;
  background-image: url('../images/sparkle.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  text-decoration: overline underline;
}

#site-links .dropdown:hover .dropdown-content {
  display: block;
}

#site-links .dropdown-item {
  min-width: 6em;
  padding: .5em 1em;
  display: block;
  text-align: center;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
}

p:first-letter {
  font-family: 'Tangerine', cursive;
  font-size: 200%;
}

h1 {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 300%;
}
#intro {
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #008B8B;
  text-shadow: 1px 1px 3px #000;
}
.form {
  opacity: .8;
  width: 600px;
  height: 350px;
  color: #ff3c42;
  font-weight: 400;
  text-shadow: 1px 1px 0px #000;
  margin: 5em 0 0 20em;
  border-style: ridge;
  border-radius: 30px;
  padding: 10px;
}
.blue {
  background-image: url("../images/butterfly.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.ship {
  background-image: url("../images/ship.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.sky {
  background-image: url("../images/sky.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.clouds {
  background-image: url("../images/forest.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
p img.align-left {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 40px;
  width: 250px;
  height: 350px;
}
.collection {
  font-family: 'Tangerine', cursive;
  font-size: 175%;
  color: #6495ED;
  font-weight: bold;
}

#haiku a {
  font-family: 'Merriweather', serif;
  font-size: 75%;
  text-decoration: none;
  background-color: #008B8B;
  color: #000;
  border-color: #8f8b8b #383636 #383636 #8f8b8b;
  border-style: solid;
  padding: 2px;
  position: relative;
  top: 5px;
  margin-left: 200px;
}

#haiku a:hover {
  font-style: italic;
  background-color: #5F9EA0;
  color: #FFF;
}
#info {
  font-size: 150%;
}
#media {
  margin-left: 275px;
}
.container {
    background-color: white;
    width: 370px;
    padding: 20px;
    border: none;
}
#first {
  margin: 0;
}
#second {
  margin: 10px auto 10px auto;
}
#third {
  margin: 10px 650px 10px 650px;
}
.submit {
  text-align: center;
}
legend {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: left;
}
