@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  color: #000;
  margin: ;
  font-family: 'Abel', sans-serif;
  font-size: 1.25em;
  background-image: url("../images/bg-placeholder.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
